[package]
name = "mikrotik-rs"
version = "0.4.2"
description = "Asynchronous Rust library for interfacing with MikroTik routers"
keywords = ["mikrotik", "router", "api", "async", "tokio"]
categories = ["api-bindings", "asynchronous", "network-programming"]
readme = "../README.md"
publish = true
edition = "2024"
authors = ["Alessandro Ferrara"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/ferrohd/mikrotik-rs"

[lib]
doctest = false

[lints]
workspace = true

[dependencies]
getrandom = { version = "0.3.4", default-features = false, features = ["std"] }
thiserror = "2.0"
tokio = { version = "1.48.0", features = [
    "net",
    "sync",
    "signal",
    "rt",
    "macros",
    "io-util",
] }
