[package]
name = "mikrotik-rs"
version = "0.5.1"
description = "Asynchronous Rust library for interfacing with MikroTik routers"
edition.workspace = true
authors.workspace = true
keywords.workspace = true
license.workspace = true
categories.workspace = true
repository.workspace = true
readme = "../README.md"
publish = true

[lib]
doctest = false

[lints]
workspace = true

[dependencies]
getrandom = { workspace = true, features = ["std"] }
thiserror = { workspace = true }
tokio = { workspace = true, features = [
    "net",
    "sync",
    "signal",
    "rt",
    "macros",
    "io-util",
] }
